body{
  font-family: Verdana;
  text-align: center;
  font-weight: normal;
  color: White;
  background-color: Black;
}

/* top section */
h1{
  font-size: 50px;
}

.calltoaction{
  color: Aquamarine;
  font-size: 16px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  font-size: 21px;
  color: Gray;
}

footer {
  text-align: right;
  color: Gray;
}
